<script context="module">
  import Header from "./Header.svelte";
  import Container from "./Container.svelte";
</script>

<script>
  let props = { a: 0 };
  export let data = [{ empty: "set" }];

  import { onMount } from "svelte";
  import { box, box2, title } from "./styles.js";

  import Button from "./Button.svelte";
  import Cell from "./Cell.svelte";
  //import "main.pcss";

  onMount(async props => {
    console.log({ props });

    let res = await fetch("https://httpbin.org/get");
    let j = await JSON.stringify(res.json);
    console.log(">>>", j);
  });
</script>

<main class="h-screen v-screen">
  <Container>
    <article class="bg-gray-300 h-full p-12">
      <h1>Article</h1>
      <Header />
      <!-- <Button /> -->
    </article>

  </Container>
</main>
