<script>
  import Container from "./Container.svelte";
  import Label from "./Label.svelte";  
  export let clicks = 0;
  const handleClick = () => (clicks += 1);
</script>

<style type="text/postcss">
  .space {
    background: red;
    padding: 10px;
    color: white;
  }
  .color {
    border-radius: 4px;
    border-color: black;
    border-width: 4px;
  }
</style>

<Container children={[123]}>
  <button class="color space" on:click={handleClick}>
    <Label>Clacked {clicks} {clicks === 1 ? 'time' : 'times'} </Label>
    
  </button>
  
</Container>
<Label/>
