<script>
  export let caption = "cell";
  export let size = "small";

  const red = "#005512";
  const space1 = "10px";

  let styled = "color:red";
  let title = "";

  export function cellFunc() {
    return 321;
  }
</script>

<style lang="text/css">
  div {
    display: grid;
    height: 100px;
    width: 300px;
  }
  .div2 {
    color: black;
    background:hsl(240, 100%, 20%);
    padding: 0.2rem;
    border: black 1px solid;
  }
  .hx1 {
    color: grey;
    background: green;
  }
  h1 {
    color: yellow;
  }
</style>

<div on:click on:hover>
  <h1 class="hx1">A boxed</h1>
  <div class="div2">
    <h1>{caption}</h1>
  </div>
</div>
