<script>
  import { css, h1, label, masked, textfield, cx } from "./tools";
  import Spacer from "./Spacer.svelte";
  export let toggle = false;

  $: toggle ? console.log("ok") : console.log("no");
</script>

<div class="p-4 bg-gray-200 rounded shadow-lg">
  <h1
    class={cx(h1(toggle), css`
        text-decoration: underline;`)}>
    Header
  </h1>
  <label class={label(toggle)}>
    <input
      id="a1"
      bind:checked={toggle}
      type="checkbox"
      on:click={() => (toggle = !toggle)} />
    Input field here if you don't mind
  </label>
  <input type="text" />
  <div class={textfield()}>
    <input
      class={css`
        flex-grow: 1;`}
      type="text"
      placeholder="enter text" />
    <Spacer />
    <button
      on:click={() => console.log('CLICK')}
      class={css`
        text-align: center;
        width: 164px;
        font-size: xx-small;
        float: right;
        border-radius: 4px;
        border: 1px solid red;
        color: black;
        height: auto;`}>
      Submit
    </button>
    <Spacer />
    <button
      on:click={() => console.log('SELECT')}
      class={css`
        text-align: center;
        width: 164px;
        font-size: xx-small;
        float: right;
        border-radius: 4px;
        border: 1px solid red;
        color: black;
        height: auto;`}>
      Select
    </button>
  </div>
</div>
