<script>
  export let text;
</script>

<style>
  div {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    display: flex;
    height: 100%;
    flex-grow: 1;
    background: #333;
    color: white;
    padding: 0.5rem;
  }
  div div {
    color: olivedrab;
    background: rgb(60, 80, 21);
    border: 1px solid;
    height: 200px;
    border-radius: 4px;
    margin: 10px;
  }
</style>

<div>
   {text}
  <div>
    slot
    <slot />
  </div>
</div>
