@custom-selector :--links a:link,a:visited,a:hover,a:focus,a:active;
@custom-selector :--headings h1, h2, h3, h4, h5, h6;

@tailwind base;

@tailwind components;

@tailwind utilities;

*,*:before,*:after {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    /* background:#ddd; */
    /* @apply p-1 */
}

body {
    font-family: system-ui;
    font-size: 1em;
    line-height: 1.5;
}

:--links {
    color: blue;
    text-decoration: underline;
}

:--headings {
    margin: .75rem 0;
}